</head>

<body>
    <div class="main-content">
        <div class="banner">
            <% if(error && error.length){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                    <% if(success && success.length){ %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= success %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/eventos">
                    <img src="/images/logoWhite.png" height="25" class="navbar-img"><span> HobbyBuddy</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/eventos">Página principal</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/iniciar_sesion">Iniciar sesión</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/registro">Registro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>