:root {
    --bg-color: rgba(29, 31, 35);
    --bg-color-1: #232529;
    --primary: #49a09d;
    --secondary: #367977;
}

.gradient-custom {
    background: #4a2c82;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #49a09d, #4a2c82);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #49a09d, #4a2c82);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    background-color: var(--bg-color);
    color: white;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
    text-decoration: none;
}

input[type=text],
textarea {
    background-color: var(--bg-color-1) !important;
    border-color: rgb(72, 72, 72) !important;
    color: rgb(170, 170, 170) !important;
}

select {
    background-color: #232529 !important;
    border-color: rgb(72, 72, 72) !important;
    color: rgb(170, 170, 170) !important;
}

.alert {
    height: 55px;
    margin-bottom: 0px;
}

.btn-custom {
    background-color: #49a09d;
    border: none;
    color: white;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #3c8785;
    border: none;
    color: white;
}

.btn-outline-light-2 {
    background-color: white;
    width: 120px;
}

.btn-outline-light-2:hover,
.btn-outline-light-2:active,
.btn-outline-light-2:focus {
    background: none;
    border-color: white;
    width: 120px;
    margin: 0px;
}

.btn-submit {
    width: 100%;
}

.comment-card {
    background-color: var(--bg-color);
    border: none
}

.custom-font-size {
    font-size: 14px;
}

.event-card {
    background-color: var(--bg-color-1);
    border-radius: 15px;
    box-shadow: 6px 6px 11px -5px #49686a;
    color: white;
}

.event-card-text {
    margin-right: 50px;
}

.event-comments {
    color: rgb(170, 170, 170);
    font-size: small;
}

.event-img {
    border-radius: 15px 0px 0px 0px !important;
}

.event-tags {
    color: rgb(170, 170, 170);
}

.form-label {
    margin-bottom: 6px;
}

.form-radio {
    margin-left: 15px;
    margin-right: 5px;
}

.left-align {
    text-align: left;
}

.navbar, footer {
    background-color: #232529 !important;
    box-shadow: 1px 6px 3px -1px rgba(28, 28, 28, 0.35);
}

.navbar-img {
    margin-left: 12px;
    margin-bottom: 5px;
}

.navbar-btn {
    padding: 6px;
    margin-bottom: 4px;
}

.navbar-link, .erase-link {
    color: #49a09d;
}

.erase-link:hover {
    color: #367977;
}

.navbar-user {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
}

.profile-card {
    background-color: var(--bg-color-1);
    border-radius: 15px;
    color: white;
}

.postInfo {
    background-image: linear-gradient(#2c233e, rgba(29, 31, 35));
    color: white;
}

.right-align {
    text-align: right;
}