<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar</title>
</head>

<body>
    <h4>Registrate</h4>
    <form action='/registro' method='POST'>
        <input type="username" placeholder="Nombre de usuario" name="user[name]" required>
        <input type="email" placeholder="Email" name="user[email]" required>
        <input type="password" placeholder="Contraseña" name="user[password]" required>
        <input type="password" placeholder="Confirma tu contraseña" name="user[confirm_password]" required>
        <button class="btn1 mt-3 mb-5">Registrarse</button>
        <p>Ya tienes cuenta? <a href="/iniciar_sesion">Inicia sesión aquí</a></p>
    </form>
</body>